{% extends "base.html" %}

{% block content %}

<div class="reg-page">
  <h1 class="reg-title">{{ title }}</h1>

  <form method="post" class="reg-card" action="/users/api/register/">
    {% csrf_token %}

    <input name="username" placeholder="Логин">
    <input name="email" placeholder="E-mail">
    <input name="first_name" placeholder="Имя">
    <input name="last_name" placeholder="Фамилия">

    <input name="password1" placeholder="Пароль">
    <input name="password2" placeholder="Подтвердите пароль">

      <button type="submit" class="btn-primary">Зарегистрироваться</button>

      <div class="reg-links">
      <a href="{% url 'users:login' %}">У вас уже есть аккаунт?</a>
    </div>
    </div>
{% endblock %}
